#suggesstion-box span{
    color:#999999;
    display: flex; 
    margin:2px;               
}
#suggesstion-box{                
    background-color: #ffffff;
    border: 1px solid #ccc;
    padding: 5px;
    margin-bottom: 5px;
}